/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
 /* width: 400px; */
}


.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** Navigations-Links im Menü */
.menubutton {
	height: 35px;
    margin-top: 5px;
    padding: 8px 25px;
}
.menubutton:hover {
	cursor: pointer;
	background-color: #eee;
}

.menupanel {
	margin-left: 25px;
}

.menupanel div.gwt-HTML {
	font-weight: bold;
	padding: 5px;
	width: 300px;
}
.menupanel div.gwt-HTML:hover {
	cursor: pointer;
	background-color: #fafafa;
}

.assignBox {
	top: 20px;
}

.searchPanel {
	width: 100%;
	margin: 20px;
	overflow: auto;
}

.searchBox {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-right: 5px;
    margin-left: 5px;
}

.liveSearchBtn {
	padding: 0;
	margin: 0;
}

.btn32 {
	width: 31%;
	min-width: 145px;
}

.textBox {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-right: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    
}

.actionBox {
    /** background-color: #d9edf7;
    border-color: #bce8f1; */
    background-color: #f5f5f5;
    color: #31708f;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px 15px 5px;
    text-align: right;
}

.searchResultBox {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 3;
}

.resultInfo {
    border-bottom: 1px solid #e1e1e1;
    color: #a0a0a0;
    font-size: 18px;
    margin: 20px 185px 10px 5px;
    padding-bottom: 10px;
}

.formTitle {
    border-bottom: 1px solid #e1e1e1;
    color: #a0a0a0;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.createBtn {
	margin-right: 10px;
	margin-bottom: 10px;
}

.navBarCreateBtn {
	margin-right: 18px;
}

.tree {
	margin-left: 0px;
}

.treeItem {
	
}

.clientTitle {
	padding: 15px;
}

.gwt-PopupPanelGlass {
	z-index: 9998;
}
.gwt-DialogBox {
	z-index: 9999;
}

.dialogMiddle td {
	padding: 0;
}



.memberGrid td {
	padding: 0;
	padding-left: 25px;
}

#logDialogBox td {
	border-bottom: dashed 1px #e1e1e1;
}

/** 
 .gwt-Tree .gwt-TreeItem-selected:before {
	content: '» ';
    background: #80ff80 none repeat scroll 0 0;
}
**/

.treeItem-selected {
    background: #80ff80 none repeat scroll 0 0;
}

.elementLink {
    border-radius: 0;
    color: #337ab7;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}