/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** Navigations-Links im Menü */
.menubutton {
	height: 35px;
    margin-top: 5px;
    padding: 8px 25px;
}
.menubutton:hover {
	cursor: pointer;
	background-color: #eee;
}

.menupanel {
	margin-left: 25px;
}

.menupanel div.gwt-HTML {
	font-weight: bold;
	padding: 5px;
	width: 300px;
}
.menupanel div.gwt-HTML:hover {
	cursor: pointer;
	background-color: #fafafa;
}

.searchPanel {
	width: 100%;
	margin: 20px;
	overflow: auto;
}

.searchBox {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-right: 5px;
    margin-left: 5px;
}

.gwt-PopupPanelGlass {
	z-index: 9998;
}
.gwt-DialogBox {
	z-index: 9999;
}

.dialogMiddle td {
	padding: 5px;
}